.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem;
}

.header .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .header-left div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header .header-left div input[type="radio"] {
    margin-top: 2px;
}