.window {
    height: 74vh;
    width: 100vw;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.window .floating-block {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    color: white;
    padding: 1rem;
    border-radius: 3px;
}

.window .floating-block h3:nth-child(2) {
    text-align: right;
}

.position-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}